*{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

nav{
    position: fixed;
    width: 99vw;
    margin-top: 0;
    padding-top: 0;
    background-color: black;
}
body{
    height: 300vh;
}

nav>ul{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0.9rem;
}

nav>ul>li{
    display: flex;
    color: white;
    list-style: none;
}
nav a{
    margin: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
    text-decoration: none;
    transition: color .3s,background-color .4s ease-in-out;
}
nav li a:hover{
    transition: color .3s,background-color .4s ease-in-out;
    background-color: aliceblue;
    color: black;
}
.profileBody{
    position: absolute;
    top: 4rem;
    right:3rem;
    background-color: #0026ff19;
    color: black;
    width: 20%;
    border-radius: 0.3rem;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in;
    flex-direction: column;
    justify-content: start;
    
}
.profileShape{
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.7rem;
    transition: color .3s,background-color .4s ease-in-out;
    cursor: pointer;
}

.cartInfo{
    margin-left: 1.5rem;
}
.profileBody button{
    background-color: rgba(245, 245, 245, 0.827);
    margin: 0.5rem auto;
    border: none;
    padding: 0.4rem 0.8rem;
    box-shadow: 1px 1px 30px #8888886a;
}
.personInfo{
    margin: 0.2rem;
    display: flex;
    
    align-items: center;
}
.personInfo img{
    width: 25%;
    padding: 0.4rem;
    margin-right: 0.4rem;
    object-fit: contain;
}
.profileShape:hover{
    background-color: aliceblue;
    color: black;
    transition: color .3s,background-color .4s ease-in-out;
}
.windowsHeightIndex{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.4rem;
    width: 100vw;
}
.progressBar{
    background-color: antiquewhite;
    height: 100%;
    width: 0;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 1px 2px 18px #888888;
}
.categoriesContainer{
    display: none;
    justify-content: end;
    padding: 2.4rem;
    opacity: 0;
    transform: scale(0);
    transition: ease opacity .6s,ease transform .6s ;
    color: wheat;
    background-color: black;
}
.categoriesContainer>ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.categoriesContainer>ul>li{
    margin: 2rem;
}